In [56]:
import pandas as pd

def on_bad_line(values):
    return values[:7]

dataset = pd.read_csv('Dataset/sts-train.csv', sep="\t", on_bad_lines=on_bad_line, engine='python', header=None)
print(dataset.shape)

dataset.tail(10)

(5611, 7)

,0,1,2,3,4,5,6
5601,main-news,headlines,2016,1417,1.0,UN chief welcomes peaceful presidential electi...,UN chief condemns attack against peacekeepers ...
5602,main-news,headlines,2016,1422,0.0,Pakistan executions draw international ire,Pakistan protests ceasefire violations by India
5603,main-news,headlines,2016,1441,0.0,Two Australians killed in Kenya after bus cras...,Permalink to Two killed in Germany train accident
5604,main-news,headlines,2016,1443,2.0,"France shuts mosque, arrests man in crackdown ...",Security tightened at New Delhi churches after...
5605,main-news,headlines,2016,1447,2.0,Russian plane reportedly crashes in Egypt,Pilot killed as US jet crashes in England
5606,main-news,headlines,2016,1456,0.0,Severe Gales As Storm Clodagh Hits Britain,Merkel pledges NATO solidarity with Latvia
5607,main-news,headlines,2016,1465,0.0,Dozens of Egyptians hostages taken by Libyan t...,Egyptian boat crash death toll rises as more b...
5608,main-news,headlines,2016,1466,0.0,President heading to Bahrain,President Xi: China to continue help to fight ...
5609,main-news,headlines,2016,1470,0.0,"China, India vow to further bilateral ties",China Scrambles to Reassure Jittery Stock Traders
5610,main-news,headlines,2016,1492,0.0,Putin spokesman: Doping charges appear unfounded,The Latest on Severe Weather: 1 Dead in Texas ...